:root{
  --darkblue : #242A56;
--lightblue : #749BE7;
--bg : #EFF2FF;
--gradient : linear-gradient(to bottom right, #2a305f,#242a5652);
--bold: 600;
--semibold: 500;
--parrafo:1.8rem;
}

/* ======================== Globals ========================*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "YOPQ" 300;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

h1,h2,h3{
  font-weight: var(--bold);
  
}
p{
  line-height: 1.8;
  font-size: var(--parrafo);
  color: #666666;
}
/*========== Reusable ============*/
.container {
  width: 80%;
  margin: auto;
}

.grid{
  display: grid;
  grid-gap: 1.5rem;
}

section {
  padding: 60px 0;
}

/*================== HEADER ==================*/

.header {
  background-image: url('img/portada.jpeg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
}
.header-shadow{
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: #2a2727;
  opacity: 65%;
  z-index: -1;
}


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

}
.nav-back{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #123d92;
  backdrop-filter: blur(3px);
  opacity: 70%;
 
}

.logo{
  z-index: 2;
}
.logo img{
  width: 200px;
}

.nav-list{
  display: flex;
  align-items: center;
}
.nav-list li a {
  position:relative;
  color: white;
  margin: 0 20px;
  font-size: var(--parrafo);
}
.nav-item a::before{
content: '';
position: absolute;
bottom: 0;
left:0;
height:2px;
width:0%;
background-color:whitesmoke;
transition: all 0.4s ease;
}
.nav-item a:hover::before{
  width: 100%;
}

.center a::before {
left:50%;
transform: translateX(-50%)
}

.header-content{
  width:100%;
  margin: auto;
  margin-top: 170px;
  color: whitesmoke
}

.header-content h1{
  color: whitesmoke;
  text-align: center;
  margin-bottom: 40px;
  font-size: 4.5rem;
}

.header-content p{
  line-height: 1.8;
  font-size: var(--parrafo);
  color: whitesmoke;
}


/*=============== ABOUT-US ====================*/

.about-us {
  background:#e8e8e8;;
  width: 100vw;
 text-align: center;
}
.about-us h2{
  font-size: 3rem;
  margin-bottom: 2rem;
  color:#5883c3;
}

.about-us h4{
  font-size:1.8rem;
  margin: 1.5rem 0;
  text-align: left;
}
.container-about-us{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: auto;
  gap: 40px;
  max-width: 90%;
}

.about-title{
  margin: auto;
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
  color:#5883c3;
}
.about-p{
  text-align: justify;
}
.about-philosophy{
  grid-column: span 2;
  margin-top: 2.4rem;
}
.about-philosophy ul{
  list-style: circle;
  list-style-position: inside;
}
.about-philosophy li{
  text-align: justify;
 
  font-size: var(--parrafo);
  color: #666666;

  
}


/* =========== SERVICES =========== */
.services{
  background: #f4f4f4;
  width: 100vw;
  text-align: center;
}
.services p{
  text-align: center;
  max-width: 90%;
  margin: auto;
  }
  
  .services h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    color:#5883c3;
  }
  
  .services-wrapper{
    margin-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
  
.service{
  height: 320px;
  position: relative;
  border: 1px solid #123d92;
  padding: 5px;
  overflow: hidden;
}

.service-icon{
 
  display: flex;
  align-content: center;
  justify-content: center;
}
#icon{
  font-size: 10rem;
  color: #123d92;
}
.service-info1{
margin-top: 3rem;
}
.service-info1 ul{
  list-style: circle;
  list-style-position: inside;

}
.service-info1 ul li{
  font-size: 1.3rem;
  color:#5883c3;
  text-align: left;

}

.service h2{
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color:#344f9d;

}

.service-info{
  position: absolute;
  color: whitesmoke;
  top: 20%;
  z-index: 3;
}

.service-info h2{
font-size: 2rem;
margin-top: 3rem;
color: whitesmoke;
}




